<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block title}{/block} - Workshop Latte</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        {block content}
        {/block}
    </div>
</body>
</html>
