{layout '@layout.latte'}

{var $buildings = [
    \WorkshopLatte\BuildingTypes::LUMBERJACK   => 'Píla',
    \WorkshopLatte\BuildingTypes::QUARRY       => 'Kameňolom',
    \WorkshopLatte\BuildingTypes::IRON_MINE    => 'Baňa na železo',
    \WorkshopLatte\BuildingTypes::FARMS        => 'Statok',
    \WorkshopLatte\BuildingTypes::STOREHOUSE   => 'Sklad',
    \WorkshopLatte\BuildingTypes::MARKET       => 'Trhovisko',
    \WorkshopLatte\BuildingTypes::BARRACKS     => 'Kasárne',
    \WorkshopLatte\BuildingTypes::ARCHERS_YARD => 'Lukostrelecký dvor',
    \WorkshopLatte\BuildingTypes::STABLES      => 'Stajne',
    \WorkshopLatte\BuildingTypes::WORKSHOP     => 'Dielňa obliehacích strojov',
    \WorkshopLatte\BuildingTypes::HIDEOUT      => 'Skrýša',
    \WorkshopLatte\BuildingTypes::CASTLE       => 'Hrad',
    \WorkshopLatte\BuildingTypes::WALL         => 'Hradby',
]}

{block content}
    <h1 n:inner-block="title">Homepage</h1>

    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Suroviny</th>
            {foreach $buildings as $typeId => $name}
                <th style="color: {$name}">{$name|shorten:4}</th>
                <script>{$name}</script>
            {/foreach}
        </tr>
        <tr n:foreach="$data->towns as $town" n:class="$town->isCapital ? bg-success">
            <td>{$town->id}</td>
            <td>{$town->name}
                <span class="badge" n:if="$town->isCapital">hlavné mesto</span>
            </td>
            <td>
                {include resources, resources => $town->stocks}
            </td>
            {foreach $buildings as $typeId => $name}
                {var $stringId = \WorkshopLatte\BuildingTypes::getStringId($typeId)}
                <th>
                    {if isset($town->buildings->$stringId)}
                        {var $building = $town->buildings->$stringId}

                        {$building->level}
                    {else}
                    {/if}
                </th>
            {/foreach}
        </tr>
    </table>

{/block}

{block resources}
    <span class="fa fa-fw fa-tree"></span> {$resources->wood|number:0:',':' '}
    <span class="fa fa-fw fa-cutlery"></span> {$resources->food|number:0:',':' '}
    <span class="fa fa-fw fa-tags"></span> {$resources->iron|number:0:',':' '}
    <span class="fa fa-fw fa-cubes"></span> {$resources->stone|number:0:',':' '}
{/block}
